body{
	padding:5px;
	background: linear-gradient(#25bef7,white);
}
heading{
	font-size:30px;
	font-weight:bold;
}
div{
	background:black;
	border-color:#0f7093;
	border-style:solid;
	border-width:10px;
	border-radius:10px;
	padding:20px;
	margin:20px;
	text-align:center;
	color:white;
	font-family:"HPSimplifiedRegular",arial;
	line-height:25px;
}
div.lesson{
	text-align:left;
}
td{
	color:white;
	border-color:white;
	border-width:1px;
	border-style:solid;
}
a{
	text-decoration:none;
	color:white;
	font-family:"HPSimplifiedRegular",arial;
	line-height:25px;
}
a:hover{
	text-decoration:underline;
}
